c) 1. The user must be allowed to upload a chosen text file by dragging it or by choosing a file
   2. The system must provide an automatic narrative quality report based on an LLM API
   3. The system must provide a detailed analysis about readability based on an LLM API
   4. The system must provide an occurency of words and connectors used in the text by counting them while parsing the given text
   5. The system must provide a statistical analysis about character distribution by counting them while parsing the given text. 
   6. The system must provide a measurement about lexical variety by counting the synonyms inside the text. The statistic must be provided using an histogram.
   7. The system must analyze the plot and provide a evaluation about its coherence based on an LLM API
   8. The report must include highlighted warnings in the text about possible errors of coherence, readability, occurencies, character distribution, lexical                variety
   9. The system must provide suggestions to improve quality by clicking on the warnings generated
   10. The system must provide the export of the report 

d) 1. Uploaded text must be less than 25MB and .txt format
   2. Report must be provided in .txt format
   3. System must allow to choose the language of the report
   4. System must provide consistent analysis
   5. System must translate subjective features in a more precise and measurable criteria
   6. Interface must be simple and intuitive